{{!-- pages/logs.hbs --}}
{{#section "styles"}}
<link href="{{baseUrl}}/static/css/logs.css" rel="stylesheet" type="text/css" />
{{/section}}
{{#section "scripts"}}
<script src="{{baseUrl}}/static/js/logs.js"></script>
{{/section}}
<h1>Log Viewer</h1>

<form id="filterForm">
    {{!--
    <label for="log_type">Log Type:</label>
    <select id="log_type" name="log_type">
        <option value="*">All</option>
        <option value="testing">Testing</option>
        <option value="live">Live</option>
        <option value="dev">Dev</option>
    </select>
    --}}

    <label for="log_type">Log Type:</label>
    <select id="log_path" name="log_path">
        <option value="/admin/logs">General</option>
        <option value="/admin/logs/analytics">Analytics</option>
    </select>

    <label for="log_level">Log Level:</label>
    <select id="log_level" name="log_level">
        <option value="*">All</option>
        <option value="warn">Warn</option>
        <option value="error">Error</option>
        <option value="info">Info</option>
        <option value="debug">Debug</option>
        <option value="functions">Functions</option>
        <option value="notice">Notice</option>
    </select>

    <label for="date">Date (YYYY-MM-DD):</label>
    <input type="text" id="date" name="date" placeholder="2025-07-05" />

    <button type="submit">Load Logs</button>
</form>

<table id="logsTable" aria-label="Logs table">
    <thead>
        <tr id="logsTableHeaderRow"></tr>
    </thead>
    <tbody id="logsTableBody"></tbody>
</table>
