{{!-- views/docs/index.hbs --}}
{{#section "styles"}}
<link rel="stylesheet" href="{{baseUrl}}/static/css/docs.css" />
{{/section}}
{{#section "scripts"}}
<script src="{{baseUrl}}"></script>
{{/section}}
<h1>Documentation Files</h1>
<ul>
    {{#each docsPaths}}
    <li><a href="{{this}}">{{this}}</a></li>
    {{/each}}
</ul>
