{{!-- views/docs/module.hbs --}}
<h1><a href="{{docsHome}}">Documentation:</a> <a href="{{pathUrl}}">{{pathName}}</a> / {{module}}</h1>

<div class="doc-content">
    {{> _renderObject moduleDoc}}
</div>
