{{!-- views/docs/summary.hbs --}}
<h1>Cross Cutting Summaries</h1>
{{#each summaries}}
<section>
    <h2>{{path}}</h2>
    <h3>Themes</h3>
    <ul>
        {{#each summary.themes}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <h3>System Recommendations</h3>
    <ul>
        {{#each summary.systemRecommendations}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</section>
{{/each}}
