<section>
  <h1>About</h1>
  <article>
    <p>This blog is maintained by Jason Poage. It covers programming, technology, and related topics.</p>
  </article>
</section>
{{#section "scripts"}}
<script src="{{baseUrl}}/static/js/sticky-toc.js"></script>
{{/section}}
