<div style="text-align: center; padding: 50px; font-family: Arial, sans-serif;">
    <h2>Redirecting...</h2>
    <p>Please wait while we redirect you to the authentication service.</p>
    <p>If you are not redirected automatically, <a href="{{adminLoginUrl}}">click here</a>.</p>
</div>
