{{!-- pages/home.handlebars --}}

<section>
  <h1>{{title}}</h1>
  <article>
    <p>{{content}}</p>
  </article>
</section>


{{!-- 1. Home Page
Professional Title/Specialty: In your main heading or tagline.
Concise Professional Bio/Summary: A short introduction of yourself and what your site is about,
with a clear call-to-action to "Learn more" (linking to your About Me page).
Featured Projects/Latest Blog Posts: A highlight of your most important work or recent content, linking to the full
Projects or Blog Index pages.

--}}
