{{#section "headers"}}
<meta http-equiv="refresh" content="0; url={{redirectUrl}}">
{{/section}}
{{#section "styles"}}
<link href="{{baseUrl}}/static/css/redirect.css" rel="stylesheet" type="text/css" />
{{/section}}
{{#section " scripts"}}
<script src="{{baseUrl}}/static/js/redirect.j">
</script>
{{/section}}
<div class="redirect-container">
    <div class="redirect-content">
        <div class="spinner"></div>
        <h1>Loading...</h1>
    </div>
</div>
