{{!-- pages/page.handlebars --}}

{{#section "styles"}}
<link rel="stylesheet" href="{{baseUrl}}/static/css/page.css">
{{/section}}


{{#section "scripts"}}
<script src="{{baseUrl}}/static/js/sticky-toc.js"></script>
{{/section}}

<div class="markdown-content">
  {{{content}}}
</div>
