{{#section "styles"}}
<link rel="stylesheet" href="/static/css/page.css" />
{{/section}}
<div class="markdown-content">
  {{{content}}}
</div>
{{#section "scripts"}}
<script src="/static/js/sticky-toc.js"></script>
{{/section}}
