{{#section "styles"}}
<link rel="stylesheet" href="/static/css/post.css" />
{{/section}}
<div class="post-content">
  {{{content}}}
</div>
{{#section "scripts"}}
<script src="/static/js/prism.js"></script>
<script src="/static/js/post.js"></script>
{{/section}}
