{{#section "styles"}}
<link rel="stylesheet" href="/static/css/site-map.css" />
{{/section}}

<nav class="sitemap">
    <h1>Site Map</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="sitemap-group blog-group">
            Blog
            <ul>
                <li><a href="/blog">Blog Index</a></li>
                <li><a href="#">Blog Post</a></li>
                <li><a href="/tags">Tags / Topics</a></li>
            </ul>
        </li>
        <li><a href="/newsletter">Newsletter</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/tools">Tools I Use</a></li>
        <li><a href="/archive">Archive</a></li>
        <li><a href="/changelog">Site Updates / Changelog</a></li>
        <li><a href="/rss-rss.xml">RSS Feed</a></li>
    </ul>
</nav>
