<nav aria-label="Footer Navigation">
    <p>
        <a href="{{baseUrl}}/sitemap">Site Map</a>
        <small class="xml-sitemap-link">
            (<a href="{{baseUrl}}/sitemap.xml" rel="nofollow">XML</a>)
        </small>
    </p>
    <p><a href="{{baseUrl}}/archive">Archive</a></p>
    <p><a href="{{baseUrl}}/rss-feed.xml">RSS Feed</a></p>
</nav>
