<header id="site-header">
  <div class="container">
    <div class="logo">
      <a href="{{baseUrl}}">{{siteOwner}}</a>
    </div>
    <button id="menuToggle" class="menu-toggle">☰ Menu</button>
    {{> siteNav }}
  </div>
</header>
{{#section "scripts"}}
<script src="{{baseUrl}}/static/js/nav-toggle.js">
</script>
{{/section}}
