<header>
  <div class="container">
    <div class="logo">
      <a href="/">{{siteOwner}}</a>
    </div>
    <nav>
      {{#each navLinks}}
      <a href="{{this.href}}">{{this.label}}</a>
      {{/each}}
    </nav>
  </div>
</header>
