header#site-header nav.site-nav {
  display: flex;
  gap: 1rem;
}

header#site-header nav.site-nav a {
  text-decoration: none;
  font-weight: 600;
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
}

header#site-header nav.site-nav > a {
  color: #ecf0f1;
}

header#site-header nav.site-nav a:hover,
header#site-header nav.site-nav a:focus {
  background-color: #34495e;
}

nav.site-nav .dropdown {
  position: relative;
  display: block;
}

nav.site-nav .dropbtn {
  display: inline-block;
  cursor: pointer;
}

nav.site-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

nav.site-nav .dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color:  #2c3e50;; /* fixme */
}

nav.site-nav .dropdown-content a:hover {
  color: #ecf0f1;
  background-color: #f1f1f1;
}

nav.site-nav .dropdown:hover .dropdown-content {
  display: block;
}

header#site-header .menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5em;
  padding: 0.5em;
}
