<!DOCTYPE html>
<html lang="en">

<head>
  <link href="{{baseUrl}}/static/css/docs.css" rel="stylesheet" type="text/css" />
  <link href="{{baseUrl}}/static/css/docs-sidebar.css" rel="stylesheet" type="text/css" />
  {{> site_headers }}

</head>

<body class="pattern-dots">
  {{> headers}}
  <div class="layout">
    {{#if showSidebar}}
    <aside class="sidebar">
      <nav>
        {{> docsMenu }}
      </nav>
    </aside>
    {{/if}}
    <main class="container">
      {{{body}}}
    </main>
  </div>
  {{#if showFooter}}
  <footer>
    {{> footer}}
  </footer>
  {{/if}}
</body>

</html>
