{{!-- views/logs.hbs --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Logs Viewer</title>
    <link href="{{baseUrl}}/static/css/logs.css" rel="stylesheet" type="text/css" />
</head>

<body>
    {{{ body }}}
</body>

</html>
