<!DOCTYPE html>
<html lang="en">

<head>
  {{> site_headers }}
</head>

<body class="pattern-dots">
  {{> page_headers}}
  <div class="layout">
    {{#if showSidebar}}
    <aside class="sidebar">
      <nav>
        {{> postsMenu }}
      </nav>
    </aside>
    {{/if}}
    <main class="container">
      {{{body}}}
    </main>
  </div>
  {{#if showFooter}}
  <footer>
    {{> footer}}
  </footer>
  {{/if}}
  {{{_sections.scripts}}}
</body>

</html>
